ruby:
  devices = [] unless devices
  devices_type_class = ''
  devices_type_class += 'smartphone' if devices.include?('smartphone')
  desktop_count = tablet_count = 0
  devices.each do |device|
    if device == 'tablet'
      tablet_count += 1
      devices_type_class += 'tablet'
    end
  end
  devices.each do |device|
    if device == 'desktop'
      desktop_count += 1
      devices_type_class += 'desktop'
    end
  end

.devices class="#{devices_type_class}"
  - if devices.include?('smartphone')
    = render 'shared/smartphone',
             content: asset_path("references/#{reference_key}/smartphone.png")
  - tablet_count.times do |i|
    - tablet_postfix = ''
    - tablet_postfix = "-#{i + 1}" if tablet_count > 1
    = render 'shared/tablet',
             content: asset_path("references/#{reference_key}/tablet#{tablet_postfix}.png"),
             landscape: (i % 2 == 0)
  - desktop_count.times do |i|
    - desktop_postfix = ''
    - desktop_postfix = "-#{i + 1}" if desktop_count > 1
    = render 'shared/desktop',
             content: asset_path("references/#{reference_key}/desktop#{desktop_postfix}.png")
