= render partial: 'navigation'
= render partial: 'hero'
= render partial: 'references'
/ = render partial: 'testimonies'
= render partial: 'legitimizer'
= render partial: 'footer'
= render partial: 'imprint'
= render partial: 'contact'
