/*
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'devices';

@import 'variables';
@import 'page';
@import 'footer';
@import 'references';

@font-face {
  font-family: 'raleway-light';
  font-style: normal;
  src: $raleway-light;
}

@font-face {
  font-family: 'raleway-semibold';
  font-style: normal;
  src: $raleway-semibold;
}


body {
  background-color: $page-background;
  color: $text-color;
  font-family: 'raleway-light', Raleway, sans-serif;
  font-weight: 300;
  margin: 0;
}

a {
  color: $text-color;

  &:hover {
    color: $text-color;
  }
}

.marvel-device {
  position: relative;
}
