/*
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'devices';

@import 'variables';

@font-face {
  font-family: 'raleway-light';
  font-style: normal;
  src: $raleway-light;
}

@font-face {
  font-family: 'raleway-semibold';
  font-style: normal;
  src: $raleway-semibold;
}


body {
  background-color: $page-background;
  font-family: 'raleway-light', Raleway, sans-serif;
  font-weight: 300;
  margin: 0;
}

footer {
  text-align: center;

  img {
    height: 21px;
    position: relative;
    top: -2px;
  }
}

.marvel-device {
  position: relative;

  &.iphone5s {
    transform: scale(0.3);
  }
  &.ipad {
    transform: scale(0.4);
  }
  &.macbook {
    transform: scale(0.5);
  }
}

.devices {
  &.smartphonetabletdesktop {
    .iphone5s {
      top: 296px;
      left: 267px;
      z-index: 3;
    }
    .ipad {
      top: -414px;
      left: 147px;
      z-index: 1;
    }
    .macbook {
      top: -1142px;
      left: -242px;
      z-index: 0;
    }
  }
}
