footer {
  margin: 10px 0 30px;
  text-align: center;

  .marginless-col {
    margin: 0 !important;
    line-height: 40px;
  }

  .social-media-container {
    font-size: 4em;
    padding-bottom: 8px;

    a {
      color: lighten($antworten-gray, $footer-logo-lighten-value);
      margin: 0 10px;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }

      &:hover {
        color: $antworten-green;
      }

      &.facebook-link:hover {
        color: $facebook-blue;
      }

      &.linkedin-link:hover {
        color: $linkedin-blue;
      }

      &.twitter-link:hover {
        color: $twitter-blue;
      }

      &.github-link:hover {
        color: $github-gray;
      }
    }

    @media (min-width: $screen-sm-min) {
      font-size: 2em;
      padding-bottom: 0;

      a {
        margin: 0 4px;
      }
    }
  }

  img {
    height: 21px;
    position: relative;
    top: -2px;
  }

  .col-sm-6 {
    margin: 15px 0;
  }

  .col-xs-12:last-of-type {
    margin-bottom: 30px;
  }

  @media (min-width: $screen-sm-min) {
    .col-sm-6:first-of-type {
      text-align: left;
    }

    .col-sm-6:last-of-type {
      text-align: right;
    }
  }
}

.imprint {
  text-align: left;

  h2 {
    font-size: 18px;
  }
}
