.hero {
  background-color: white;
  display: table;
  height: 450px;
  width: 100%;

  .row{
    display: table-cell;
    vertical-align: middle;
  }

  .hero-logo {
    display: block;
    margin: 0 auto;
    width: 80%;
  }
}

.legitimizer {
  text-align: center;

  img {
    margin: 15px;
  }
}
